@import "_reset.less";
@import "_flexmixin.less";
@import "_commons.less";

html {
  scroll-behavior: smooth;
}

.loader-root {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;

  &.load {
    display: block;
  }

  @keyframes LoaderProgress {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .loader-progressbar {
    background-color: @green-text;
    height: 4.5px;
    animation-name: LoaderProgress;
    animation-duration: 1s;
  }

  .loader-box {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

    @keyframes LoaderAnimate {
      from {
        transform: scaleY(1);
      }

      to {
        transform: scaleY(0.2);
      }
    }

    div {
      background-color: @green-text;
      width: 4px;
      height: 35px;
      margin: 0 0.15%;
      border-radius: 5px;
      animation-name: LoaderAnimate;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }

    .close-lines {
      animation-delay: 0.2s;
    }

    .center-line {
      animation-delay: 0.4s;
    }
  }
}

.scroll-top-div {
  .scroll-top {
    position: fixed;
    z-index: 999;
    right: 60px;
    bottom: 25px;
    font-size: 1.2rem;
    display: inline-block;
    color: #808080;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    transition: 0.5s;
  }

  .scroll-top:hover {
    color: white;
  }

  .scroll-vis {
    visibility: visible;
    opacity: 1;
  }
}

aside {
  position: fixed;
  z-index: 1000;
  overflow: auto;
  overflow-x: hidden;
  width: 22.5%;
  top: 0;
  right: -22.5%;
  bottom: 0;
  background-color: #0c0c0c;
  padding: 2.5% 1.5%;
  transition: 0.5s ease-out;

  .aside-container {
    .aside-row {
      position: relative;
      transform: translate(100%, 0);
      align-items: center;
      transition: 1s ease-out;

      .ar-shadow {
        position: absolute;
        background-color: #0c0c0c;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: visible;
        opacity: 1;
        transition: 1s ease-out;
      }

      .ar-shadow-vis {
        visibility: hidden;
        opacity: 0;
      }

      .aside-heading {
        h6 {
          color: @green-text;
          font-size: 0.7rem;
          margin: 0;
          font-weight: 600;
          letter-spacing: 3px;
        }
      }

      .aside-cross {
        .flexing(center, flex-end);
        .aside-cross-btn {
          display: inline-block;
          padding: 7.5px;
          color: white;
          background-color: black;
          font-size: 0.8rem;
          border: 2px solid black;
          cursor: pointer;
        }
      }

      .aside-links {
        margin-top: 20%;
        ul {
          li {
            a {
              display: inline-block;
              color: white;
              font-size: 1.1rem;
              font-weight: 600;
            }
          }

          li:not(:last-of-type) {
            margin-bottom: 7.5%;
          }
        }
      }

      .aside-description {
        margin: 20% 0;
        p {
          color: @aside-links;
          font-size: 0.8rem;
          line-height: 1.4rem;
          a {
            color: #7e8686;
            transition: 0.5s;
          }

          a:hover {
            color: white;
          }
        }
      }

      .aside-icons {
        ul {
          .flexing;
          li {
            a {
              display: inline-block;
              color: @aside-links;
              font-size: 1.1rem;
              transition: 0.5s;
            }

            a:hover {
              color: white;
            }
          }

          li:not(:first-child) {
            margin-left: 5%;
          }
        }
      }
    }

    .ar-show {
      transform: translate(0, 0);
    }
  }
}

aside.show {
  right: 0;
}

header {
  nav {
    position: absolute;
    left: 2.5%;
    z-index: 4;
    padding: 2.5% 0;
    .nav-container {
      .nav-row {
        align-items: center;
        .nav-left {
          .img-div {
            width: 75%;
            img {
              width: 100%;
            }
          }
        }

        .nav-right {
          position: fixed;
          right: 2.5%;
          z-index: 999;
          .flexing(center, flex-end);

          .sidebar-btn {
            .flexing;
            border: none;
            background-color: transparent;
            color: @green-text;
            padding: 10px;
            transition: 0.5s ease-in-out;

            span {
              font-size: 0.8rem;
              margin-right: 15px;
              letter-spacing: 1px;
              font-weight: 600;
            }

            i {
              display: inline-block;
              color: white;
              font-size: 1.6rem;
            }
          }

          .sidebar-scroll {
            background-color: black;
          }

          .sidebar-btn:hover {
            color: white;
          }
        }
      }
    }
  }
}

.progressbar-div {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  .progressbar {
    background-color: @green-text;
  }
}

.progress {
  height: 5px;
  animation-name: Progress;
  animation-duration: 0.5s;
}

@keyframes Progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

main {
  #welcome {
    position: relative;
    padding: 17.5% 0 12.5% 0;
    background-image: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 0.667571252133666) 0%
      ),
      url("../images/hero-bg.jpg");
    background-attachment: fixed;
    background-size: cover;

    .scroll-down {
      position: absolute;
      right: 10%;
      bottom: 12.5%;

      a {
        .flexing(center,center);
        color: white;
        font-size: 0.6rem;
        font-weight: 600;
        letter-spacing: 2px;

        i {
          display: inline-block;
          font-size: 0.8rem;
          margin-right: 8.5px;
          color: @green-text;
        }
      }
    }
    .welcome-container {
      .welcome-row {
        padding: 0;
        .welcome-left {
          padding: 0 0 0 6%;
          h6 {
            color: #818486;
            font-weight: 600;
            letter-spacing: 1px;
          }

          h1 {
            color: white;
            font-weight: 600;
            font-size: 3.5rem;
            line-height: 75px;
          }

          .welcome-buttons-box {
            margin-top: 15%;
            .left-welcome-btn,
            .right-welcome-btn {
              display: inline-block;
              border: 2px solid white;
              color: white;
              background-color: transparent;
              text-transform: uppercase;
              padding: 2.5% 5%;
              letter-spacing: 2px;
              font-weight: 600;
              font-size: 0.8rem;
              transition: 0.7s;
            }

            .left-welcome-btn:hover,
            .right-welcome-btn:hover {
              background-color: white;
              color: black;
            }

            .right-welcome-btn {
              margin-left: 2.5%;
            }
          }
        }

        .welcome-right {
          padding: 5.5% 2.5% 0 0;
          .welcome-right-icons {
            text-align: right;
            li {
              position: relative;
              .flexing(center, flex-end);
            }

            li:not(:last-child) {
              margin-bottom: 5%;
            }

            .welcome-icon-h6 {
              position: absolute;
              right: 15%;
              margin: 0;
              font-size: 0;
              color: @green-text;
              font-weight: 600;
              transition: 0.5s;
            }

            .icon-vis {
              font-size: 0.8rem;
            }

            a {
              .flexing(center, center);
              color: white;
              width: 35px;
              height: 35px;
              border: 2px solid white;
              border-radius: 50%;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  #welcome::after {
    content: "";
    position: absolute;
    background-color: @green-text;
    right: 9%;
    bottom: 0;
    width: 2px;
    height: 115px;
  }

  #we-are-glint {
    position: relative;
    background-color: @green-text;
    padding: 12.5% 0;
    .we-are-glint-container {
      .we-are-glint-row {
        .we-are-glint-h3 {
          text-align: center;
          font-size: 1.1rem;
          color: black;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .we-are-glint-h1 {
          position: relative;
          text-align: center;
          color: #ffffff;
          font-weight: 600;
          font-size: 4.8rem;
        }

        .we-are-glint-h1::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 50%;
          background-color: #6bc877;
          left: 50%;
          transform: translateX(-50%);
          bottom: -45%;
        }

        .we-are-glint-description {
          font-family: "Lora", serif;
          text-align: center;
          padding: 0 3.5%;
          margin: 5% 0;
          font-size: 1.6rem;
        }

        .we-are-glint-stats-ul {
          .flexing(null, space-between);

          li {
            position: relative;
            h1 {
              color: #ffffff;
              font-weight: 600;
              font-size: 4.8rem;
              text-align: center;
            }

            h5 {
              text-align: center;
              font-weight: 600;
            }
          }

          li:not(:last-child)::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #6bc877;
            right: -50%;
            top: 0;
          }
        }
      }
    }
  }

  #we-are-glint::after {
    content: "";
    position: absolute;
    background-color: white;
    right: 9%;
    top: 0;
    width: 2px;
    height: 115px;
  }

  #what-we-do {
    padding: 12.5% 0 7.5% 0;
    .what-we-do-container {
      .what-we-do-row {
        .what-we-do-h3 {
          text-align: center;
          font-size: 1.1rem;
          color: @green-text;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .what-we-do-h1 {
          position: relative;
          text-align: center;
          color: black;
          padding: 0 7.5%;
          font-weight: 600;
          font-size: 3.2rem;
          margin-bottom: 10%;
        }

        .what-we-do-h1::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 50%;
          background-color: #e5e5e5;
          left: 50%;
          transform: translateX(-50%);
          bottom: -45%;
        }

        .what-we-do-services-col {
          margin-bottom: 3.5%;
          .what-we-do-services-col-row {
            .what-we-do-left {
              i {
                display: inline-block;
                color: @green-text;
                font-size: 3rem;
              }
            }

            .what-we-do-right {
              h3 {
                color: black;
                font-weight: 600;
                margin-bottom: 5.5%;
              }

              p {
                font-family: "Lora", serif;
                color: #757575;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }

  .masonry-carousel {
    position: fixed;
    opacity: 0;
    overflow: hidden !important;
    visibility: hidden;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    .masonry-carousel-container-fluid {
      .masonry-carousel-row {
        .masonry-carousel-box {
          .masonry-carousel-item {
            display: none;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            overflow: hidden !important;
            height: 100vh;

            &.active {
              display: flex;
            }

            .masonry-carousel-counter-div {
              position: relative;
              padding: 1.25%;
              z-index: 13;
              background: linear-gradient(
                90deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(0, 0, 0, 0.5471230728619573) 0%
              );
              width: 100%;

              .masonry-carousel-counter {
                text-align: start;
                color: #bebebe;
                font-size: 0.8rem;
              }
            }

            figure {
              width: 60%;
              height: 450px;
            }

            .carousel-article-side-div {
              position: relative;
              padding: 1.25%;
              z-index: 13;
              background: linear-gradient(
                90deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(0, 0, 0, 0.5471230728619573) 0%
              );
              width: 100%;

              .masonry-carousel-heading {
                margin-bottom: 0.75%;
              }

              .masonry-carousel-heading,
              .masonry-carousel-description {
                text-align: center;
                font-weight: 600;
              }
            }

            .masonry-carousel-heading {
              color: white;
              font-size: 1.1rem;
              margin-bottom: 0;
            }

            .masonry-carousel-description {
              color: #7c7c7c;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  #recent-works {
    .recent-works-container {
      padding: 0;
      .recent-works-texts-div {
        background-color: #111111;
        padding: 12.5% 0;

        .recent-works-h3 {
          text-align: center;
          font-size: 1.1rem;
          color: @green-text;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .recent-works-h1 {
          position: relative;
          text-align: center;
          color: white;
          padding: 0 12.5%;
          font-weight: 600;
          font-size: 3.2rem;
          margin-bottom: 10%;
        }
      }

      .recent-works-h1::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 50%;
        background-color: #1d1d1d;
        left: 50%;
        transform: translateX(-50%);
        bottom: -45%;
      }

      .recent-works-row {
        margin: 0 5%;
        margin-top: -15%;
        padding-bottom: 12.5%;

        .recent-works-images-col {
          padding: 0;

          .img-div {
            cursor: pointer;
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.5s;
            }

            .recent-works-image-shadow {
              position: absolute;
              overflow: hidden;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 5%;
              background: rgb(2, 0, 36);
              background: linear-gradient(
                90deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(1, 1, 1, 0.8972631288843662) 0%
              );
              visibility: hidden;
              opacity: 0;
              transition: 0.5s;

              .recent-works-shadow-row {
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .recent-works-shadow-col-share-btn {
                  position: relative;
                  transform: translateY(-150%);
                  transition: 0.5s;

                  .flexbox-logic-share-btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                  }

                  .shadow-share-btn {
                    position: relative;
                    .flexing(center, center);
                    color: white;
                    border: 2px solid white;
                    border-radius: 50%;
                    font-size: 1.6rem;
                    width: 40px;
                    height: 40px;
                    transition: 0.3s;
                  }

                  .shadow-share-btn:hover {
                    color: black;
                    background-color: white;
                  }

                  .shadow-share-btn::before {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 31px;
                    background-color: #1d1f1f;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -33px;
                  }
                }

                .recent-works-shadow-col-plus-btn {
                  .flexing(center, center);
                  .shadow-plus-btn {
                    display: inline-block;
                    color: white;
                    font-size: 1.6rem;
                  }
                }

                .recent-works-shadow-col-texts {
                  transform: translateY(150%);
                  transition: 0.5s;

                  .shadow-plus-h3 {
                    color: #ffffff;
                    font-size: 0.9rem;
                    letter-spacing: 2px;
                    font-weight: 600;
                  }

                  .shadow-plus-p {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 0.8rem;
                    font-weight: 600;
                  }
                }
              }
            }
          }

          .img-div:hover {
            img {
              transform: scale(1.1);
            }
            .recent-works-image-shadow {
              visibility: visible;
              opacity: 1;

              .recent-works-shadow-col-share-btn {
                transform: translateY(0);
              }

              .recent-works-shadow-col-texts {
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }

  #our-clients {
    position: relative;
    background-color: #e6e6e6;
    padding: 15% 0;

    .our-clients-container {
      .our-clients-row {
        .our-clients-h3 {
          text-align: center;
          font-size: 1.1rem;
          color: @green-text;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .our-clients-h1 {
          text-align: center;
          color: black;
          padding: 0 7.5%;
          font-weight: 600;
          font-size: 3.2rem;
        }

        .our-clients-logos-carousel-col {
          position: relative;

          .our-clients-logos-carousel {
            padding: 5% 0;

            .img-div {
              width: 75%;

              img {
                width: 100%;
                opacity: 0.5;
                transition: 0.5s ease-out;
              }
            }

            .img-div:hover {
              img {
                opacity: 1;
              }
            }

            .owl-dot {
              &.active {
                span {
                  background: @green-text;
                }
              }

              span {
                background: #959595;
              }
            }

            .slick-dots {
              li button:hover::before {
                color: @green-text;
              }

              li button::before {
                font-size: 11.5px;
              }

              li.slick-active button::before {
                color: @green-text;
              }
            }
          }
        }

        .our-clients-logos-carousel-col::after {
          content: "";
          position: absolute;
          background-color: #cfcfcf;
          bottom: -25%;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 1.5px;
        }

        .our-clients-clients-carousel-col {
          padding-top: 15%;

          .our-clients-clients-carousel {
            position: relative;

            .our-clients-clients-carousel-root {
              .flexing(center, null, column);

              .our-clients-clients-thoughts {
                font-family: "Lora", serif !important;
                text-align: center;
                font-size: 1.8rem;
                color: #555555;
                padding: 0 10%;
                line-height: 3rem;
              }

              .img-div {
                width: 7.5%;
                margin: 6% 0 1.5% 0;

                img {
                  width: 100%;
                  border-radius: 50%;
                }
              }

              .our-clients-clients-author-span {
                display: inline-block;
                font-weight: 600;
                font-size: 1.1rem;
                color: #000;
              }

              .our-clients-clients-job-span {
                display: inline-block;
                color: #757575;
                font-size: 0.875rem;
              }
            }

            .owl-next,
            .owl-prev {
              display: inline-block;
              position: absolute;
              background: transparent !important;
              color: black !important;
              font-size: 2.6rem;
            }

            .owl-next {
              top: 11.5%;
              right: 0;
            }

            .owl-prev {
              top: 11.5%;
              left: 0;
            }
          }
        }
      }
    }
  }

  #our-clients::after {
    content: "";
    position: absolute;
    background-color: #39b54a;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 2px;
    height: 115px;
  }

  #contact-us {
    position: relative;
    padding: 13.5% 0;
    background-image: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(26, 26, 26, 0.8160306358871674) 0%
      ),
      url(../images/xcontact-bg.jpg.pagespeed.ic.Yg-_T7iMmI.webp);
    background-position: center;

    .contact-us-container {
      padding: 0 6%;

      .contact-us-row {
        .contact-us-h3 {
          text-align: center;
          font-size: 1.1rem;
          color: @green-text;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .contact-us-h1 {
          position: relative;
          text-align: center;
          color: white;
          padding: 0 7.5%;
          font-weight: 600;
          font-size: 3.2rem;
          margin-bottom: 10%;
        }

        .contact-us-form-col {
          background-color: #151515;
          opacity: 0.8;
          padding: 5% 5% 7.5%;

          .contact-us-form-heading {
            color: white;
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 2px;
          }

          #contact-us-form {
            .contact-us-input-col {
              position: relative;

              .contact-us-form-badge {
                position: absolute;
                right: 2%;
                display: none;
                bottom: -18%;
                background-color: @green-text;
                z-index: 5;
                font-size: 0.7rem;
                font-weight: 600;
                letter-spacing: 1px;
                color: #ffffff;

                .contact-us-form-badge-content {
                  position: relative;
                  padding: 5px 25px;
                  .badge-protrusion {
                    position: absolute;
                    top: 60%;
                    transform: rotate(45deg) translate(-50%, -50%);
                    left: -0.5%;
                    width: 15px;
                    height: 15px;
                    background-color: @green-text;
                  }
                }
              }

              input:not([type="submit"]) {
                display: inline-block;
                background-color: transparent;
                color: white;
                outline: none;
                width: 100%;
                border: none;
                font-size: 0.8rem;
                border-bottom: 1px solid #242424;
                padding: 5% 0;
                transition: 0.3s ease-out;
              }

              input:not([type="submit"]):focus {
                border-color: @green-text;
              }

              input:not([type="submit"])::placeholder {
                font-size: 0.8rem;
              }
            }

            .contact-us-textarea-col {
              position: relative;

              textarea {
                display: inline-block;
                background-color: transparent;
                color: white;
                outline: none;
                width: 100%;
                border: none;
                font-size: 0.8rem;
                border-bottom: 1px solid #242424;
                padding: 5% 0;
                transition: 0.3s ease-out;
              }

              textarea:focus {
                border-color: @green-text;
              }

              textarea::placeholder {
                font-size: 0.8rem;
              }

              .contact-us-form-badge {
                position: absolute;
                display: none;
                right: 2%;
                bottom: -2.5%;
                background-color: @green-text;
                z-index: 5;
                font-size: 0.7rem;
                font-weight: 600;
                letter-spacing: 1px;
                color: #ffffff;

                .contact-us-form-badge-content {
                  position: relative;
                  padding: 5px 25px;
                  .badge-protrusion {
                    position: absolute;
                    top: 60%;
                    transform: rotate(45deg) translate(-50%, -50%);
                    left: -0.5%;
                    width: 15px;
                    height: 15px;
                    background-color: @green-text;
                  }
                }
              }
            }
          }

          input[type="submit"] {
            display: inline-block;
            margin-top: 5%;
            padding: 2.5% 0;
            font-size: 0.8rem;
            font-weight: 600;
            color: #ffffff;
            letter-spacing: 2px;
            background-color: @green-text;
            border: none;
            color: white;
            outline: none;
            width: 100%;
          }
        }

        .contact-us-info-col {
          background-color: #101010;
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          padding: 5% 5% 7.5%;

          .contact-us-info-heading {
            color: white;
            letter-spacing: 2px;
            font-size: 0.8rem;
            font-weight: 600;
          }

          .contact-us-where-find-us-div,
          .contact-us-where-email-us-at-div,
          .contact-us-where-call-us-at-div {
            h5 {
              font-weight: 600;
              font-size: 0.9rem;
              color: @green-text;
            }

            p {
              color: #717171;
            }
          }

          .contact-us-icons-ul {
            .flexing;

            li {
              a {
                display: inline-block;
                color: white;
                font-size: 1.2rem;
                transition: 0.3s ease-in;
              }

              a:hover {
                color: @green-text;
              }
            }

            li:not(:last-child) {
              margin-right: 15%;
            }
          }
        }
      }
    }
  }

  #contact-us::after {
    content: "";
    position: absolute;
    background-color: #39b54a;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 2px;
    height: 115px;
  }
}
footer {
  padding: 5% 10%;
  background-color: #111111;

  #footer-info {
    margin-bottom: 10%;
    .footer-info-container {
      .footer-info-row {
        .footer-info-left-col {
          .img-div {
            width: 17.5%;
            img {
              width: 100%;
            }
          }

          p {
            margin-top: 7.5%;
            color: #595959;
            font-size: 0.9rem;
            padding-right: 11%;
            line-height: 27.5px;
          }
        }

        .footer-info-right-col {
          h4 {
            color: white;
            font-size: 0.9rem;
            font-weight: 600;
            margin: 0;
          }

          p {
            color: #595959;
            font-size: 0.9rem;
            padding-right: 11%;
            line-height: 27.5px;
            margin: 7.5% 0;
          }

          #footer-info-form {
            .footer-info-content-div {
              position: relative;

              i {
                position: absolute;
                display: inline-block;
                color: white;
                font-size: 1.6rem;
                top: 50%;
                left: 5%;
                transform: translate(-50%, -50%);
              }

              input[type="text"] {
                display: inline-block;
                width: 100%;
                padding: 3.5% 35% 3.5% 10%;
                background-color: #0f0f0f;
                border: none;
                outline: none;
                font-size: 0.8rem;
                color: white;
              }

              input[type="text"]::placeholder {
                color: #3f3f3f;
                font-size: 0.8rem;
              }

              button {
                position: absolute;
                right: 0;
                display: inline-block;
                height: 100%;
                font-size: 0.7rem;
                font-weight: 600;
                padding: 0 7.5%;
                letter-spacing: 2px;
                color: white;
                border: none;
                background-color: @green-text;
              }
            }

            .submit-msg {
              color: white;
              font-size: 0.8rem;
              font-weight: 600;
              margin-top: 3.5%;
              padding-left: 2.5%;
            }
          }
        }
      }
    }
  }

  #copyright {
    .copyright-container {
      .copyright-row {
        position: relative;
        align-items: center;

        .copyright-left-col {
          .flexing(null, flex-end);
          span {
            display: inline-block;
            font-size: 0.9rem;
            color: #595959;
          }
        }
        .copyright-right-col {
          span {
            display: inline-block;
            font-size: 0.9rem;
            color: #595959;

            a {
              color: white;
            }
          }
        }
      }

      .copyright-row::after {
        content: "";
        position: absolute;
        background-color: #1d1d1d;
        width: 1px;
        height: 15px;
        left: 50%;
      }
    }
  }
}

//* Mobile Responsive
@media (max-width: 576px) {
  .scroll-top-div {
    display: none;
  }

  aside {
    width: 75%;
    right: -75%;
    padding-top: 10%;
    padding-left: 5%;
  }

  header {
    nav {
      top: 2.5%;

      .nav-right {
        .sidebar-btn {
          span {
            display: none;
          }
        }
      }
    }
  }

  main {
    #welcome {
      padding: 60% 0;
      background-position: center;

      .welcome-container {
        .welcome-row {
          .welcome-left {
            padding: 0;

            h6 {
              text-align: center;
            }

            h1 {
              text-align: center;
              font-size: 2rem;
              line-height: 3rem;
            }

            .welcome-buttons-box {
              .flexing(null, null, column);
              padding: 0 7.5%;

              .left-welcome-btn {
                padding: 5%;
                margin-bottom: 3.5%;
                font-size: 0.7rem;
              }

              .right-welcome-btn {
                margin: 0;
                padding: 5%;
                font-size: 0.7rem;
              }
            }
          }

          .welcome-right {
            display: none;
          }
        }
      }

      .scroll-down {
        right: 12.5%;
        bottom: 7.5%;
      }
    }

    #welcome::after {
      height: 75px;
    }

    #we-are-glint {
      padding: 30% 0;

      .we-are-glint-container {
        .we-are-glint-row {
          .we-are-glint-h3 {
            font-size: 0.9rem;
          }

          .we-are-glint-h1 {
            font-size: 2.2rem;
          }

          .we-are-glint-description {
            font-size: 1.1rem;
            padding: 4.5% 4.5% 0;
          }

          .we-are-glint-stats-ul {
            .flexing(null, null, column);
          }

          .we-are-glint-stats-ul {
            li {
              margin: 7.5% 0;

              h5 {
                font-size: 1.1rem;
              }
            }

            li:not(:last-child)::after {
              top: auto;
              right: auto;
              height: 1px;
              left: 50%;
              bottom: -20%;
              width: 75%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    #we-are-glint::after {
      height: 75px;
    }

    #what-we-do {
      padding: 27.5% 0;

      .what-we-do-container {
        .what-we-do-row {
          .what-we-do-h3 {
            font-size: 0.9rem;
          }

          .what-we-do-h1 {
            font-size: 1.6rem;
            padding: 0 7.5%;
          }

          .what-we-do-h1::after {
            bottom: -15%;
          }

          .what-we-do-services-col {
            margin: 5% 0;

            .what-we-do-left {
              .flexing(null, center);
            }

            .what-we-do-right {
              text-align: center;

              h3 {
                margin: 5.5% 0;
              }
            }
          }
        }
      }
    }

    .masonry-carousel {
      .masonry-carousel-container-fluid {
        .masonry-carousel-row {
          .masonry-carousel-box {
            .masonry-carousel-item {
              figure {
                height: 250px;
                width: 100%;
              }

              .carousel-article-side-div {
                display: none;
              }
            }
          }
        }
      }
    }

    #recent-works {
      .recent-works-container {
        .recent-works-texts-div {
          padding: 30% 0 70%;

          .recent-works-h3 {
            font-size: 0.9rem;
          }

          .recent-works-h1 {
            font-size: 1.8rem;
            padding: 0 3.5%;
          }

          .recent-works-h1::after {
            bottom: -15%;
          }
        }
      }

      .recent-works-row {
        margin-top: -70% !important;
        height: 2310.69px !important;
      }
    }

    #our-clients {
      padding: 35% 0;

      .our-clients-container {
        .our-clients-row {
          .our-clients-h3 {
            font-size: 0.9rem;
          }

          .our-clients-h1 {
            font-size: 1.8rem;
            margin-bottom: 12.5%;
            padding: 0 3.5%;
          }

          .our-clients-logos-carousel-col {
            .our-clients-logos-carousel {
              .our-clients-logos-item {
                .flexing(null, center);
                .img-div {
                  width: 50%;
                }
              }
            }
          }

          .our-clients-logos-carousel-col::after {
            bottom: -40%;
          }

          .our-clients-clients-carousel-col {
            padding-top: 25%;

            .our-clients-clients-carousel {
              .our-clients-clients-carousel-root {
                .our-clients-clients-thoughts {
                  font-size: 1.1rem;
                  color: #555555;
                  line-height: 2rem;
                  padding: 0 2.5%;
                }

                .img-div {
                  width: 22.5%;
                  margin: 17% 0 3% 0;
                }

                .our-clients-clients-author-span {
                  font-size: 1rem;
                }

                .our-clients-clients-job-span {
                  font-size: 0.8rem;
                }
              }

              .owl-prev,
              .owl-next {
                bottom: -45%;
              }
            }
          }
        }
      }
    }

    #our-clients::after {
      height: 75px;
    }

    #contact-us {
      padding: 30% 0;
      overflow: hidden;
      background: rgb(21, 21, 21);
      background: linear-gradient(
          90deg,
          rgba(21, 21, 21, 0.034518030845150593) 0%,
          rgba(21, 21, 21, 0.647963408996411) 0%
        ),
        url(../images/xcontact-bg.jpg.pagespeed.ic.Yg-_T7iMmI.webp);

      .contact-us-container {
        padding: 0;

        .contact-us-row {
          .contact-us-h3 {
            font-size: 0.8rem;
          }

          .contact-us-h1 {
            font-size: 1.7rem;
            padding: 0 7.5%;
          }

          .contact-us-form-col {
            padding: 10%;

            .contact-us-form-heading {
              font-size: 0.7rem;
              text-align: center;
              margin-bottom: 15%;
            }

            input[type="submit"] {
              padding: 5% 0;
            }
          }

          .contact-us-info-col {
            background-color: transparent;
            display: block;

            .contact-us-info-heading {
              display: none;
            }

            .contact-us-where-find-us-div,
            .contact-us-where-email-us-at-div,
            .contact-us-where-call-us-at-div {
              text-align: center;
              margin-top: 15%;

              p {
                font-size: 0.9rem;
              }
            }

            .contact-us-icons-ul {
              margin-top: 15%;
              .flexing(null, center);

              li:not(:last-child) {
                margin-right: 2.5%;
              }
            }
          }
        }
      }
    }

    #contact-us::after {
      height: 75px;
    }
  }

  footer {
    padding: 17.5% 5%;

    #footer-info {
      .footer-info-container {
        .footer-info-row {
          .footer-info-left-col {
            .flexing(center, null, column);

            .img-div {
              width: 32.5%;
            }

            p {
              margin: 7.5% 0;
              padding-right: 0;
            }
          }

          .footer-info-right-col {
            p {
              padding-right: 0;
            }

            #footer-info-form {
              .footer-info-content-div {
                i {
                  display: none;
                }

                input[type="text"],
                button {
                  position: static;
                }

                input[type="text"] {
                  text-align: center;
                  padding: 6.5% 2.5%;
                  margin-bottom: 5%;
                }

                input[type="text"]::placeholder {
                  text-align: center;
                }

                button {
                  width: 100%;
                  padding: 5% 7.5%;
                }
              }
            }
          }
        }
      }
    }

    #copyright {
      padding-top: 15%;

      .copyright-container {
        .copyright-row {
          .copyright-left-col,
          .copyright-right-col {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
