@import "_reset.less";
@import "_flexmixin.less";
@import "_commons.less";

html {
  scroll-behavior: smooth;
}

.scroll-top-div {
  .scroll-top {
    position: fixed;
    right: 60px;
    bottom: 25px;
    font-size: 1.2rem;
    display: inline-block;
    color: #808080;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    transition: 0.5s;
  }

  .scroll-top:hover {
    color: white;
  }

  .scroll-vis {
    visibility: visible;
    opacity: 1;
  }
}

aside {
  position: fixed;
  overflow: auto;
  width: 22.5%;
  top: 0;
  right: -22.5%;
  bottom: 0;
  background-color: #0c0c0c;
  padding: 2.5% 1.5%;
  transition: 0.5s ease-out;

  .aside-container {
    .aside-row {
      align-items: center;
      .aside-heading {
        h6 {
          color: @green-text;
          font-size: 0.7rem;
          margin: 0;
          font-weight: 600;
          letter-spacing: 3px;
        }
      }

      .aside-cross {
        .flexing(center, flex-end);
        .aside-cross-btn {
          display: inline-block;
          padding: 7.5px;
          color: white;
          background-color: black;
          font-size: 0.8rem;
          border: 2px solid black;
          cursor: pointer;
        }
      }

      .aside-links {
        margin-top: 20%;
        ul {
          li {
            a {
              display: inline-block;
              color: white;
              font-size: 1.1rem;
              font-weight: 600;
            }
          }

          li:not(:last-of-type) {
            margin-bottom: 7.5%;
          }
        }
      }

      .aside-description {
        margin: 20% 0;
        p {
          color: @aside-links;
          font-size: 0.8rem;
          line-height: 1.4rem;
          a {
            color: #7e8686;
            transition: 0.5s;
          }

          a:hover {
            color: white;
          }
        }
      }

      .aside-icons {
        ul {
          .flexing;
          li {
            a {
              display: inline-block;
              color: @aside-links;
              font-size: 1.1rem;
              transition: 0.5s;
            }

            a:hover {
              color: white;
            }
          }

          li:not(:first-child) {
            margin-left: 5%;
          }
        }
      }
    }
  }
}

aside.show {
  right: 0;
}

header {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5% 0;
    .nav-container {
      .nav-row {
        align-items: center;
        .nav-left {
          .img-div {
            width: 15%;
            img {
              width: 100%;
            }
          }
        }

        .nav-right {
          .flexing(center, flex-end);

          .sidebar-btn {
            .flexing;
            border: none;
            background-color: transparent;
            color: @green-text;
            transition: color 0.5s ease-in-out;

            span {
              font-size: 0.8rem;
              margin-right: 15px;
              letter-spacing: 1px;
              font-weight: 600;
            }

            i {
              display: inline-block;
              color: white;
              font-size: 1.6rem;
            }
          }

          .sidebar-btn:hover {
            color: white;
          }
        }
      }
    }
  }
}

main {
  #welcome {
    padding: 17.5% 0 7.5% 0;
    background-image: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(13, 13, 14, 0.8104283949908089) 1%
      ),
      url("../images/hero-bg.jpg");
    background-size: cover;
    .welcome-container {
      .welcome-row {
        padding: 0;
        .welcome-left {
          padding: 0 0 0 6%;
          h6 {
            color: #818486;
            font-weight: 600;
            letter-spacing: 1px;
          }

          h1 {
            color: white;
            font-weight: 600;
            font-size: 3.5rem;
            line-height: 75px;
          }

          .welcome-buttons-box {
            margin-top: 15%;
            .left-welcome-btn,
            .right-welcome-btn {
              display: inline-block;
              border: 2px solid white;
              color: white;
              background-color: transparent;
              text-transform: uppercase;
              padding: 2.5% 5%;
              letter-spacing: 2px;
              font-weight: 600;
              font-size: 0.8rem;
              transition: 0.7s;
            }

            .left-welcome-btn:hover,
            .right-welcome-btn:hover {
              background-color: white;
              color: black;
            }

            .right-welcome-btn {
              margin-left: 2.5%;
            }
          }
        }

        .welcome-right {
          padding-top: 5.5%;
          .flexing(flex, flex-end);
          .welcome-right-icons {
            li:not(:last-child) {
              margin-bottom: 40%;
            }

            a {
              .flexing(center, center);
              color: white;
              width: 35px;
              height: 35px;
              border: 2px solid white;
              border-radius: 50%;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
